/* id */
#todo-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  gap: 2em;
  margin: 0.5em;
}
/* Classes */
.App {
  font-family: "Titillium Web", sans-serif;
  background-color: #7dc3ae;
  min-height: 100vh;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #85cdcb;
  position: relative;
  transition: transform 0.8s;
}
.card-buttons {
  display: none;
}
.card:hover {
  transform: scale(1.07);
}
.card:hover > .card-buttons {
  display: block;
}
.delete-card-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  background: transparent;
  border: none;
}
.edit-card-btn {
  position: absolute;
  top: 0;
  right: 1em;
  font-size: 2em;
  background: transparent;
  border: none;
}

/* Elements */
nav {
  display: flex;
  justify-content: center;
  gap: 1em;
  position: sticky;
  top: 0;
  background-color: #41b3a3;
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2em;
}
nav > a {
  text-decoration: none;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1em;
  position: absolute;
  top: 35%;
  left: 36%;
  font-size: 1.5em;
  background-color: #41b3a3;
  border-radius: 0.5em;
}

form > label {
  color: white;
}

form input {
  font-size: 1em;
  padding: 0.5em;
  background: transparent;
  border: none;
  border-bottom: 1px solid #7dc3ae;
  color: white;
}

form input:focus {
  outline: none;
}

form input[type="submit"] {
  background-color: #e27d60;
  color: white;
  border-radius: 0.5em;
}

button:hover {
  cursor: pointer;
}
